<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
</head>
<body>



    <div id="main">
      <div id="main2">
          <h2 id="naslov">majstor.com</h2>
          <span id="reg">Registrujte se</span>
          <span id="pri">Ulogujte se</span>
          <a href="#kontakt" id="konaktSpan "class="meni">Kontakt</a>
          <a href="#opis" id="opisSpan"class="meni">Opis</a>
          <a href="#main" id="pocetnaSpan"class="meni">Pocetna</a>
          <a href="#Radnik" id="radnikSpan"class="meni">Radnik</a>
      </div>
    </div>
    <div id="main3">
     <div id="search">
        <h1>Pornadjite potrebnog majstora za vas</h1>
        <form>
            <input type="text" placeholder="Zanimanje vaseg majstora..." id="zanimanje">
          
            <!-- <select id="region">
                <option value="" disabled selected>Region</option>
                <option>Beograd</option>
                <option>Lazarevac</option>
            </select> -->
            
            <input type="submit" value="Trazi" id="trazi">
            
        </form>
     </div>
        <div id="main4">
            <h4 id="reklama">Mesto za vasu reklamu</h4>
        </div>
        <div id="popularne">
            <h4 >Popularne kategorije: </h4>
            <!-- <img src="/home/student/Desktop/mojmajstor/public/images.jpeg" alt=""   class="slike">
            <img src="/home/student/Desktop/mojmajstor/public/Zidar.jpg" alt="" class="slike">
            <p id="keramicar">Keramicar</p> -->
            <!-- <input type="radio" class="radio" value="prva">
            <input type="radio" class="radio" value="druga">
            <input type="radio" class="radio" value="treca"> -->
           
            
        </div>
        
        <div id="opis">
            
            <h2 id="naslovO">Ko smo mi?</h2>
            <p id="opisLorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Excepturi expedita<br>  animi voluptatibus, repellendus totam temporibus, 
            eveniet ea eligendi 
            magnam quod officia rem?<br> Natus dicta praesentium reiciendis 
             ratione eligendi inventore odio. <br>
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, <br>
              repellat ut! Amet excepturi animi natus officiis facere dignissimos, 
             commodi modi ullam, <br>at sunt eius explicabo perferendis sed veniam minima harum.<br>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Excepturi expedita animi voluptatibus,<br> repellendus totam temporibus, 
             eveniet ea eligendi 
            magnam quod officia rem?<br> Natus dicta praesentium reiciendis 
             ratione eligendi inventore odio. <br>
             <br>
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, <br>
              repellat ut! Amet excepturi animi natus officiis facere dignissimos, 
             commodi modi ullam, <br>at sunt eius explicabo perferendis sed veniam minima harum.<br>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Excepturi expedita animi voluptatibus,<br> repellendus totam temporibus, 
              eveniet ea eligendi 
             magnam quod officia rem?<br> Natus dicta praesentium reiciendis 
              ratione eligendi inventore odio. <br>
              <br>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, <br>
               repellat ut! Amet excepturi animi natus officiis facere dignissimos, 
              commodi<br> modi ullam, at sunt eius explicabo perferendis sed <br>veniam minima harum.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              <br> Excepturi expedita <br> animi voluptatibus, repellendus totam temporibus, 
              eveniet ea eligendi 
             magnam quod officia rem?<br> Natus dicta praesentium reiciendis 
              ratione eligendi inventore odio. <br>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, <br>
               repellat ut! Amet excepturi animi natus officiis facere dignissimos, 
              commodi modi ullam, <br>at sunt eius explicabo perferendis sed veniam minima harum.
            </p>
        </div>
        
    </div>
    <img id="mrlja" src="mrlja.webp">
    <img id="mrlja2" src="mrlja.webp">
    <img id="mrlja3" src="mrlja.webp">
   
    <div id="Radnik">
        <h2 id="RadnikNaslov">Radnik meseca</h2>
        <!-- <p id="ImeRadnika">Nikola Jokic</p> -->
        <img id="radnikM" src="Bastovan.jpg">
        <p id="ZanimanjeRadnika">Nikola Jokic (Bastovan)</p>
        
    </div>
   
   
    <div id="kontakt">
        <form id="formaK">
            <h2 id="naslovKon">Kontakt</h2>
            <input type="text" id="vaseI" placeholder="Vase ime"> <br>
            <input type="text" id="vaseP" placeholder="Vas email"> <br>
            <input type="textarea" id="vasaP" placeholder=""> <br>
            <input type="submit"  id="posalji" value="Posalji"> 
            <!-- <textarea id="vasaP" placeholder="Vasa poruka"></textarea> -->
        </form>
        <img id="kontaktt" class="slike" src="konaktt.webp">
        <div id="futer">
            <br>
            <span id="spanF">2022 majstor.com</span>
        </div>
    </div>
  


   
    


    <script src="/index.js"></script>
   
</body>
</html>